---
import Card from "../components/Card.astro";
import { Form } from "../components/Form";
import GetStartedButton from "../components/GetStartedButton.astro";
import Intro from "../components/Intro.astro";
import Layout from "../layout/Layout.astro";
import SectionLayout from "../layout/SectionLayout.astro";
---

<Layout
  title="Shortlynker - URL shortener"
  description="Shortlynker: Instantly shorten URLs for seamless sharing!"
>
  <SectionLayout>
    <Intro />
    <Form client:load />
  </SectionLayout>
  <section
    class="text-center bg-gray/50 dark:bg-VeryDarkBlue w-full h-auto min-h-96 -mt-20 md:-mt-18 pb-24"
  >
    <h2 class="font-black text-4xl pt-56 pb-5">Advanced Statistics</h2>
    <p
      class="max-w-xl mx-auto text-lg text-VeryDarkBlue dark:text-white text-pretty"
    >
      Track how your links are performing across the web with our advanced
      statistics dashboard.
    </p>
    <div
      class="relative flex flex-col md:flex-row gap-20 md:gap-6 justify-center items-center py-20 px-5"
    >
      <div
        class="bg-Cyan w-[800px] md:w-3/4 h-2 absolute bottom md:top-64 rotate-90 md:rotate-6"
      >
      </div>
      <Card
        title="Brand Recognition"
        description="Boost your brand recognition with each click. Generic links don’t mean a thing. Branded links help instil confidence in your content."
        image="/images/icon-brand-recognition.svg"
        alt="Brand Recongnition SVG logo"
      />
      <Card
        class="md:-mb-16"
        title="Detailed Records"
        description="Gain insights into who is clicking your links. Knowing when and where people engage with your content helps inform better decisions."
        image="/images/icon-detailed-records.svg"
        alt="Detailed Records SVG logo"
      />
      <Card
        class="md:-mb-36"
        title="Fully Customizable"
        description="Improve brand awareness and content discoverability through customizable links, supercharging audience engagement."
        image="/images/icon-fully-customizable.svg"
        alt="Fully Customizable SVG logo"
      />
    </div>
  </section>
  <section
    id="resources"
    class="bg-DarkViolet bg-[url('/images/bg-boost-mobile.svg')] md:bg-[url('/images/bg-boost-desktop.svg')] bg-cover bg-right bg-no-repeat w-full h-80 md:h-64 flex flex-col justify-center items-center gap-10"
  >
    <h2 class="text-5xl font-black text-white">Boost your links today</h2>
    <div>
      <GetStartedButton />
    </div>
  </section>
</Layout>
