---
import Form from "../components/Form.astro";
import Intro from "../components/Intro.astro";
import Layout from "../layout/Layout.astro";
---

<Layout title="Shortly" description="">
  <main class="mt-20 px-5">
    <Intro />
    <Form />
  </main>
</Layout>
