---
import NavBar from "./NavBar.astro";
import ChangeThemeButton from "./ChangeThemeButton.astro";
import Logo from "./Logo.astro";
---

<header
  {...Astro.props}
  class="mx-auto backdrop-blur-lg bg-white/10 dark:bg-zinc-900/10 fixed top-0 z-50 w-screen h-auto px-10 py-[10px] md:px-10"
>
  <div
    class="relative flex flex-row items-center justify-center mx-auto max-w-[1100px]"
  >
    <Logo />

    <button
      aria-label="hamburgerButton"
      id="hamburgerButton"
      class="inline-block md:hidden order-4 hamburger hamburger--emphatic bg-black/50 dark:bg-transparent"
      type="button"
    >
      <span class="block hamburger-box">
        <span class="block hamburger-inner"></span>
      </span>
    </button>
    <!-- <div
      id="menu-backdrop"
      class="absolute opacity-1 z-40 visible translate-x-[var(--left)] translate-y-[var(--top)] left-[var(--left)] top-[var(--top)] w-[var(--width)] h-[var(--height)] bg-black backdrop-blur-lg rounded ease-in-out transition-all duration-300"
    >
    </div> -->
    <nav class="flex flex-row">
      <NavBar
        id="hamburgerNavBar"
        class="hidden absolute bg-zinc-900/20 dark:bg-white text-black font-semibold md:rounded-xl rounded-none md:flex flex-col md:flex-row md:static z-50 h-auto top-20 left-0 py-12 md:py-3 gap-2 md:top-0 items-center justify-start px-2"
      />
    </nav>
    <ChangeThemeButton />
  </div>
</header>

<script>
  const hamburgerButton = document.querySelector("#hamburgerButton");
  const hamburgerNavBar = document.querySelector("#hamburgerNavBar");
  hamburgerButton.addEventListener("click", handleClick);

  function handleClick() {
    hamburgerButton.classList.toggle("is-active");
    hamburgerNavBar.classList.toggle("hidden");
    hamburgerNavBar.classList.toggle("flex");
  }
  const $navItems = document.querySelectorAll(".navAnchor");

  $navItems.forEach(($navItem) => {
    //iterate on each element of the navBar component and add a Event Listener
    $navItem.addEventListener("click", () => {
      //Change checked Attribute if not setted
      const $inputInsideAnchor = $navItem.querySelector("input");
      if (!$inputInsideAnchor.checked) {
        $inputInsideAnchor.checked = true;
      }
      //For Mobile devices, close the navigation Menu if some anchor is clicked
      const $hamburgerNavBar = document.querySelector("#hamburgerNavBar");
      const $hamburgerButton = document.querySelector("#hamburgerButton");
      $hamburgerButton.classList.toggle("is-active");
      $hamburgerNavBar.classList.toggle("hidden");
      $hamburgerNavBar.classList.toggle("flex");
    });
  });
</script>
