---
import ChangeThemeButton from "./ChangeThemeButton.astro";
import NavItem from "./NavItem.astro";
---

<ul {...Astro.props}>
  <li>
    <NavItem checked content="Features" />
  </li>
  <li>
    <NavItem href="/#progetti" content="Pricing" />
  </li>
  <li>
    <NavItem href="/#chi-sono" content="Resources" />
  </li>
</ul>
