---
import ChangeThemeButton from "./ChangeThemeButton.astro";
import NavItem from "./NavItem.astro";
---

<ul {...Astro.props}>
  <li>
    <NavItem checked href="/#home" content="Home" />
  </li>
  <li>
    <NavItem href="/#get-started" content="Get Started" />
  </li>
  <li>
    <NavItem href="/#resources" content="Resources" />
  </li>
</ul>
