<a
  class="navAnchor text-nowrap cursor-pointer has-[input:checked]:bg-Cyan has-[input:checked]:text-black -z-10 bg-transparent rounded-lg px-4 py-[1px] hover:bg-Cyan/30 transition-all duration-500"
  href={Astro.props.href}
>
  <input class="hidden" type="radio" name="navAnchor" id="" {...Astro.props} />
  {Astro.props.content}
</a>
