---

---

<div
  class="p-6 md:p-5 mx-auto bg-DarkViolet rounded-xl bg-[url('/images/bg-shorten-mobile.svg')] md:bg-[url('/images/bg-shorten-desktop.svg')] bg-contain md:bg-cover bg-right bg-no-repeat w-full md:max-w-[1110px] h-[160px] md:h-auto min-w-[330px]"
>
  <form
    class="flex flex-col md:flex-row gap-5 h-full justify-center items-center border-rose-50"
    action=""
  >
    <input
      class="bg-white border border-white rounded-md w-full h-1/2 px-4 py-3 outline-Cyan md:flex-grow"
      type="text"
      name=""
      id=""
      placeholder="Shorten a link here..."
    />
    <button
      class="bg-Cyan rounded-md w-full md:w-auto text-nowrap h-1/2 px-7 py-3 font-bold hover:scale-105 transition-all"
      >shorten It!</button
    >
  </form>
</div>
