---

---

<section
  class="bg-DarkViolet rounded-xl bg-[url('/images/bg-shorten-mobile.svg')] md:bg-[url('/images/bg-shorten-desktop.svg')] bg-contain bg-right bg-no-repeat w-full h-[160px] md:h-auto min-h-[160px] min-w-[330px] p-5"
>
  <form class="flex flex-col md:flex-row gap-5 h-full justify-center" action="">
    <input
      class="bg-white rounded-md h-1/2 px-4 outline-Cyan"
      type="text"
      name=""
      id=""
      placeholder="Shorten a link here..."
    />
    <button class="bg-Cyan rounded-md h-1/2 px-3 font-bold hover:scale-105"
      >shorten It!</button
    >
  </form>
</section>
