---
import Illustration from "../components/Illustration.astro";
import GetStartedButton from "./GetStartedButton.astro";
---

<div
  id="home"
  class="mx-auto justify-center items-center max-w-6xl mb-20 overflow-hidden text-center md:text-left w-full flex flex-col md:flex-row"
>
  <Illustration />
  <article class="pb-20">
    <h1 class="text-5xl md:text-[65px] font-black mb-5 mt-10">
      More than just shorter links
    </h1>
    <p class="mb-8 text-lg text-grayishViolet text-pretty">
      Build your brand’s recognition and get detailed insights on how your links
      are performing.
    </p>
    <GetStartedButton />
  </article>
</div>
