---
import Illustration from "../components/Illustration.astro";
---

<section
  class="justify-center items-center max-w-5xl mb-20 overflow-hidden text-center md:text-left w-full flex flex-col md:flex-row"
>
  <Illustration />
  <picture> </picture>
  <article>
    <h1 class="text-5xl font-black mb-5 mt-10">More than just shorter links</h1>
    <p class="mb-8 text-lg text-grayishViolet text-pretty">
      Build your brand’s recognition and get detailed insights on how your links
      are performing.
    </p>
    <button
      class="rounded-full hover:scale-105 transition-all bg-Cyan px-10 py-4 md:ml-2 text-lg font-black mx-auto"
      >Get Started</button
    >
  </article>
</section>
